*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/previewer/previewConfig.json
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/entry/.preview
.cxx

.idea/sonarlint
.idea/checkstyle-idea.xml
.idea/checkstyle*
.idea/code-check
.idea/previewer
.idea/